# Chapter 6

## Reading and Writing Data in Text Format

In [3]:
import pandas as pd
import numpy as np

In [4]:
# couple of categoires for converting text data to a dataframe

In [2]:
# indexing - treat one or more columns as the returned df
# type inference and data conversion - in case a column data type is not provided
# datetime parsing - combining capability: combinging data and time info spread over multiple columns
# a single column

# Iterating - iterating over chunks of very large files
# unclean data issues - skipping rows, footers, comments etc

In [5]:
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [6]:
# cause this is comma delimited, we can use read_csv

In [7]:
df = pd.read_csv('examples/ex1.csv')

In [8]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
# file won't always have a header row

In [10]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [11]:
pd.read_csv('examples/ex2.csv', header = None) # give int index/column names

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [12]:
pd.read_csv('examples/ex2.csv', names = ['a', 'b', 'c', 'd', 'message']) # pass a list as the 'names' (columns)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
names = ['a', 'b', 'c', 'd', 'message']

In [14]:
pd.read_csv('examples/ex2.csv', names = names, index_col = 'message')
# we give the column names to 'names', and then we set the index_col as 'message'

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [15]:
!cat examples/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [16]:
parsed = pd.read_csv('examples/csv_mindex.csv', index_col = ['key1', 'key2'])

In [17]:
parsed # in the above example, this sets up the heirarachal index with key1, and key 2

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [18]:
list(open('examples/ex3.txt'))
# an example of a table without fiexed delimeters (white space, etc)

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [19]:
# in this case, we can use a regex as a delimiter

In [20]:
result = pd.read_csv('examples/ex3.txt', sep = '\s+') 
# 1 or more white spaces

In [21]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [22]:
# notice in the above example, there were 1 fewer column names than the number of data rows. That's how
# read_csv infers thae first column is the index

In [23]:
# parser functions can also help you handle the variety of exception file formats that occur
# you can skip rows with 'skiprows'

In [24]:
!cat examples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [25]:
pd.read_csv('examples/ex4.csv', skiprows = [0, 2, 3]) 
# we pass a list to skip rows

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [26]:
# handling misisng values is important. Missing values are either empty strings or marked y a sentinel value 
# NA or NULL

In [27]:
!cat examples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [36]:
result = pd.read_csv('examples/ex5.csv')

In [37]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [31]:
pd.isnull(result)

array([[[False, False, False, False, False,  True],
        [False, False, False,  True, False, False],
        [False, False, False, False, False, False]]])

In [32]:
result = pd.read_csv('examples/ex5.csv', na_values = ['NULL'])

In [33]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [38]:
# terrible example of na_values but you can assign na_values to say 'not available', and if 
# there are any 'not available' values in your df, they become NaN

In [39]:
# different NA sentinels can be specified for each column in a dict

In [40]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}

In [41]:
sentinels

{'message': ['foo', 'NA'], 'something': ['two']}

In [42]:
# so sentinels is a dictionary with the columns 'message' with value ['foo', 'NA'], and column 'something' with ['two']

In [43]:
pd.read_csv('examples/ex5.csv', na_values = sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [1]:
# so in columns 'message', and 'something', the values passed into their respective keys (column names) in sentinels
# is considered NaN

# stopped at pg 174

# data parsing is when one string of data gets converted to another type of data

### Reading Text Files in Pieces

In [ ]:
# sometimes in order to process ver large files, you may only want to read in small pice of a file or iterate through
# chunks

In [8]:
pd.options.display.max_rows = 10

In [6]:
result = pd.read_csv('examples/ex6.csv')

In [7]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [9]:
# read a small number of rows instead of reading entire file

In [10]:
pd.read_csv('examples/ex6.csv', nrows = 5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [11]:
# to read a file in pieces, use chunksie as a number of rows

In [12]:
chunker = pd.read_csv('examples/ex6.csv', chunksize = 1000)

In [15]:
chunker

In [16]:
# the above TextFileReader object returned by read_csv allows you to iterate over the parts of the file according
# to the chunksize

In [17]:
# we can iterate over ex6.csv, aggregating the value couns in the key column and aggregate the value counts
# in the key column

In [31]:
chunker = pd.read_csv('examples/ex6.csv', chunksize = 1000)

In [32]:
chunker

In [35]:
tot = pd.Series([])
# tot is a series that's in the form of an array
for piece in chunker:
    # for piece is iterating over every row (1000 rows) in chunk
    tot = tot.add(piece['key'].value_counts(), fill_value = 0)
    # for row in chunk, get that rows piece['key'] and add to tot. The start value of a piece['key'] is 0
    # also pretty cool how you don't have to create a dict key to count values, pandas does it for you
    
tot = tot.sort_values(ascending = False)

<ipython-input-35-c709bd17ac5c>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  tot = pd.Series([])

In [34]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

### Writing Data to Text Format

In [ ]:
# data can be exported to a dimited format

In [36]:
data = pd.read_csv('examples/ex5.csv')

In [37]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [38]:
# we can write a df to a csv file with data.to_csv
# remember read_csv() returns a df from a csv

In [39]:
data.to_csv('examples/out.csv')

In [40]:
!cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [ ]:
# other delimters can be sued

In [41]:
import sys
# we import sys so we can set set as '|'

In [42]:
data.to_csv(sys.stdout, sep = '|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [43]:
# sometiems we'll have missing value and we might want to denote them by a sentinel value (NULL)

In [46]:
data.to_csv(sys.stdout, na_rep = 'NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [47]:
# we can disable a given row and column labels

In [48]:
data.to_csv(sys.stdout, index = False, header = False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [49]:
# can also get only a subset of the columns

In [50]:
data.to_csv(sys.stdout, index = False, columns = ['a', 'b', 'c']) # only got columns a b c

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [51]:
# series also has a to_csv method

In [62]:
dates = pd.date_range('1/1/2000', periods = 7)
# returns a date time index starting on '1/1/2000' and is over 7 days (periods))
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [63]:
ts = pd.Series(np.arange(7), index = dates)
# creates a series of indexes 0 - 6, we assign index to the datetimeindex above

In [64]:
ts.to_csv('examples/tseries.csv') # and then we convert to csv

In [65]:
!cat examples/tseries.csv

,0
2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

### Working with Delimited Formats

In [66]:
# most of the time, you can load tabular data using functions like pandas.read_csv
# but sometimes manual processing is necessary where a malformed line trips up read_csv

In [67]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [68]:
# any file with a single character delimiter, you can use python's built in csv module

In [69]:
import csv

In [ ]:
# we pass an open file to a csv reader and by iterating through the csv file on a line by line case
# we yield a tuple of values with quotes removed

In [100]:
f = open('examples/ex7.csv')
reader = csv.reader(f)

In [101]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [102]:
# and then we wrnagle the data into the format we need
# first we read the file into a list of lines

In [103]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

In [104]:
# then we split the lines into header line and a data line

header, values = lines[0], lines[1:]

# lines[0 is the first line hence the header]
# lines[1:] is everything after the first line, hence the data

In [105]:
# and then we create a dict of data columns using dictionary comprehension and zip(*values) which
# transposes rows into columns

data_dict = {h: v for h, v in zip(header, zip(*values))}

# *values is *args which means an unspecified number of values are passed into zip

# lambda functions
# before the semi colon is the variable you're passing

# given the header, (v) for every header, the inner zip is called on *values while the outer zip is called on
# header, and zip(*values), which creates a dict key value pair

# not sure what v in zip means 
# in checks if true, so if the header exists, then we zip it up?

In [106]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [107]:
# suppose you have different delimters (string quoting convention or line terminator)

#we define a simple subclass of csv.Dialect

In [108]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimeter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
    
reader = csv.reader(f, dialect = my_dialect)

ValueError: I/O operation on closed file.

In [109]:
# can also give individual csv dialect parameters as keywords to csv.reader

In [110]:
reader = csv.reader(f, delimiter = '|')

ValueError: I/O operation on closed file.

In [ ]:
# the gist is csv.Dialect allows you to set custom delimeters or line terminators

In [111]:
# to write delimited files manually, you can use csv.writer
# accept an open, writable file object and the same dialect and format options as csv.reader

### JSON Data

In [122]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
            {"name": "Katie", "age": 38, 
            "pets": ["Sixes", "Stache", "Cisco"]}]
            }
            """

In [123]:
obj

'\n{"name": "Wes",\n"places_lived": ["United States", "Spain", "Germany"],\n"pet": null,\n"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},\n            {"name": "Katie", "age": 38, \n            "pets": ["Sixes", "Stache", "Cisco"]}]\n            }\n            '

In [124]:
# json has basic types:
# objects (dicts)
# arrays (lists)
# strings, nums, bools, nulls

# also pls remember JSON uses double quotes "" not ''

# all keys must be strings

# to convert JSON string to python, use json.loads

In [125]:
import json

In [126]:
result = json.loads(obj)

In [127]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [128]:
# json.dumps converts a python obj back to JSON

In [129]:
asjson = json.dumps(result)

In [130]:
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [131]:
# multiple ways to convert a json object or list of objects to a df

In [132]:
# you can pass a list of dicts (previously JSON obj) to the df constructor and select a subset of data field

In [134]:
siblings = pd.DataFrame(result['siblings'], columns = ['name', 'age'])

# so result is a dictionary and we pick the siblings key. In the siblings key there is a list of dicts and from 
# each dict, we can get a key corresponding to 'name' and 'age'

In [135]:
# pandas.read_json can automatically convert JSON datasets in specific arrangements into a Series or df

In [136]:
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [137]:
# pandas.read_json assumes each object is a row in the table

# so in the above example, each key is a column, and then pd.read_json adds the indexes based on number of k/value pairs

In [138]:
data = pd.read_json('examples/example.json')

In [139]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [140]:
# if you need to export data from pandas to JSON, use to_json methods on Series and df

In [141]:
print(data.to_json())
# by columns

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [142]:
print(data.to_json(orient = 'records'))
# by rows

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### XML and HTML: Web Scrapping

In [143]:
# python has libraries for reading and writing data in HTML and XML

# examples include lxml, Beautiful Soup, html5lib
# last 2 are better at handling malformed HTML or XML files

In [144]:
# pandas has built in function, read_html which uses libraries like lxml and Beautiful SOup to parse tables
# out of HTML files as df objects

In [145]:
conda install lxml

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [146]:
# pd.read_html has many options but by default it searches for and attempts to parse all tablular data
# within <table> tags. Results in a list of df objects

In [147]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')

In [148]:
len(tables)

1

In [150]:
failures = tables[0]

In [151]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [152]:
# can do data cleaning and analysis

In [158]:
close_timestamps = pd.to_datetime(failures['Closing Date'])

# convert values in 'Closing Date' to date time format and then create a series from the data

In [159]:
close_timestamps

0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
         ...
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

In [162]:
close_timestamps.dt.year.value_counts()

# wgroup by the year using dt.year

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2001      4
2004      4
2003      3
2007      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

### Parsing XML with lxml.objectify

In [163]:
# XML is another common structured date format supporting hierachiacl tested data
# XML is more general compared to html

In [164]:
from lxml import objectify

In [165]:
# don't have file so will take notes

In [167]:
# lxml objectify can parse the file and get a reference to the root node of the XML file wtih getroot

In [168]:
'''
path = 'datases/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()
'''

# we set the path
# we then use objectify on the opened path
# objectify allows you to use xml as if it were a normal python hiearchy
# and then we use getroot() to get the root

"\npath = 'datases/mta_perf/Performance_MNR.xml'\nparsed = objectify.parse(open(path))\nroot = parsed.getroot()\n"

In [169]:
# root.indicator returns a generator (an iterable object) yielding each <INDICATOR> xml element
# and for each record, we can populate a dict of tag names to data values

In [170]:
'''
data = []
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ', 'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)
'''

"\ndata = []\nskip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ', 'DESIRED_CHANGE', 'DECIMAL_PLACES']\n\nfor elt in root.INDICATOR:\n    el_data = {}\n    for child in elt.getchildren():\n        if child.tag in skip_fields:\n            continue\n        el_data[child.tag] = child.pyval\n    data.append(el_data)\n"

In [171]:
# and then convert this list of dicts into a dataframe
'''
perf = d.DataFrame(data)

perf.head()
'''

'\nperf = d.DataFrame(data)\n\nperf.head()\n'

## Binary Data Formats

In [172]:
# pickling data is easy to store data

In [173]:
frame = pd.read_csv('examples/ex1.csv')

In [174]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [175]:
frame.to_pickle('examples/frame_pickle')

In [176]:
# you can read pickled objects by using pandas.read_pickle

In [177]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [179]:
# pandas also supports HDF4 and Message Pack, bcolz, Feather

### Using HDF5 Format

In [180]:
# what is HDF5?
# it's a file format intended for storing large quantities of scientific array data and it stands for 
# heiararchical data format
# each HDF5 can store multiple datasets and support metadata
# has on the fly compression
# HDFStore works like a dict

In [181]:
frame = pd.DataFrame({'a': np.random.randn(100)})
# create a data frame with column name n and 100 randn values from 0 to 100

In [182]:
store = pd.HDFStore('mydata.h5')
# we create a HDFStore and store it into mydata.h5
# h5 is the type of the data file

In [183]:
store['obj1'] = frame

# obj1 is the key and frame is the values (the df)

In [184]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [185]:
# and then we can retrieve HDF5 files like a dict

In [186]:
store['obj1']

           a
0  -0.479100
1  -0.159217
2  -0.005590
3   0.798909
4   1.214698
..       ...
95 -1.441704
96  0.232009
97  0.039982
98 -0.535756
99 -0.478794

[100 rows x 1 columns]

In [187]:
# HDFStore supports two storage schemas
# 'fixed' and 'table'
# table is slower but supports query operations

In [188]:
store.put('obj2', frame, format = 'table')
# store is your HDFStore that's put into 'mydata.h5'
# frame is the frame df from above

# put is storing an object into your store. in this case, it's frame

# i guess a dictionary is not the same as storing a df as a schema

# jks a put is the same as a store['obj'] except you can set other options like format

store.select('obj2', where = ['index >= 10 and index <= 15'])

           a
10  1.866620
11 -0.249741
12 -0.060249
13 -1.565505
14 -1.706553
15 -0.099247

In [189]:
store.close()

In [190]:
# you can get a shortcut to these tools

In [193]:
frame.to_hdf('mydata.h5', 'obj3', format = 'table')

In [192]:
# to_hdf writes a file to the hdf5 file using hdf_store, just another way like frame['obj'] and store.put
# and frame in the front is what you're putting into the store

In [194]:
pd.read_hdf('mydata.h5', 'obj3', where = ['index < 5'])

          a
0 -0.479100
1 -0.159217
2 -0.005590
3  0.798909
4  1.214698

In [195]:
# with large datasets maybe use HDF4 or Pytables cause problems are I/O bound

### Reading Microsoft Excel Files

In [198]:
# pandas uses xlrd and openpyxl

In [199]:
# use either ExcelFile class or pandas.read_excel function

In [200]:
# to use ExcelFile, create an instance by passing a path to an xls or xlsx file
# parses sheets into a df

In [203]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')
# creates instance from the path

In [207]:
# data stored can then be read into a df with parse
pd.read_excel(xlsx, 'Sheet1')

# and then this is how you read the instance

# sheet1 is the sheet you want to read

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [ ]:
# if you're reading multiple sheets in a file, then it is faster to create the ExcelFile (first example)

# but you can also pass the filename to pandas.read_excel

In [208]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')

In [209]:
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [210]:
# write pandas to excel format

# 1) create ExcelWriter
# 2) write data using pandas objects to_excel method

In [211]:
writer = pd.ExcelWriter('examples/ex2.xlsx')
# i think this is the path to where the data will be written to

In [212]:
frame.to_excel(writer, 'Sheet1')

# and then we put 'frame' into writer, and then into Sheet1

In [213]:
writer.save()

In [214]:
# you can also pass a file path to_excel and avoid the ExcelWriter

In [215]:
frame.to_excel('examples/ex2.xlsx')

## Interacting with Web APIs

In [216]:
# website have public APIs via JSON or some other format
# # of ways to access these APIs using Python, one way is the requests package

In [217]:
# get last 30 github issues for pandas on github, can make a GET HTTP request

In [218]:
import requests

In [219]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [220]:
resp = requests.get(url)

In [221]:
resp

In [222]:
# Response object's json method will return a dict containing JSON parsed into python obj

In [223]:
data = resp.json()

In [224]:
data[0]['title']

'Update input of `core.algorithms.duplicated`'

In [225]:
# each element in data is a dict containing all of the data found on a github issue page (excep for comments)

# can pass data directly to DataFrame and extract fields of interest

In [230]:
issues = pd.DataFrame(data, columns = ['number', 'title', 'labels', 'state'])

# data is is the json data feed

In [231]:
issues

,number,title,labels,state
0,42657,Update input of `core.algorithms.duplicated`,[],open
1,42656,TST: test transform('cumcount'),[],open
2,42655,DOC: fix small typo in HDF section of cookbook...,[],open
3,42654,TST: Add test for setitem preserving period dt...,[],open
4,42653,QST: `min_periods` effect on `std` rolling agg...,"[{'id': 1954720290, 'node_id': 'MDU6TGFiZWwxOT...",open
...,...,...,...,...
25,42626,BUG: Cannot calculate quantiles from Int64Dtyp...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,42624,BUG: to_datetime()'s origin does not use unit ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,42622,BUG: `Styler.set_sticky` not handling display ...,[],open
28,42621,DOC: fix small issues,[],open
29,42619,DOC: update redirecting URLs,[],open

## Interacting with Databases

In [232]:
# in business settings, most data is SQL based

In [233]:
import sqlite3

In [238]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
c REAL, d INTEGER);"""

# i do belive these are all the column names ^

In [239]:
con = sqlite3.connect('mydata.sqlite')

# 'mydata.sqlite' is a path 
# creates a connection to the path

In [240]:
con.execute(query)

In [241]:
con.commit()

In [242]:
data = [('Atlanta', 'Georgia', 1.25, 6),
       ('Tallahassee', 'Florida', 2.6, 3),
       ('Sacremento', 'California', 1.7, 5)]

In [243]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [245]:
con.executemany(stmt, data)

In [246]:
# i'm assuming execute man takes the values from data and inserts them into stmt. Stmt is a query

In [247]:
# pythong drivers return a list of tuples when selectin data from a table

In [248]:
# everytime you do con.execute, that means you're connecting to the path at 'mydata.sqlite'

In [250]:
cursor = con.execute('select * from test')
# test is the table from above

In [253]:
rows = cursor.fetchall()

In [254]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacremento', 'California', 1.7, 5)]

In [256]:
# can pass list of tuples to a df constructor but you need the column names,
# contained int he cursor's description attribute

In [257]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [258]:
pd.DataFrame(rows, columns = [x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacremento  California  1.70  5

In [259]:
import sqlalchemy as sqla

In [260]:
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [261]:
pd.read_sql('select * from test', db)

Empty DataFrame
Columns: [a, b, c, d]
Index: []